@font-face {
  font-family: 'navyTrivia';
  src:
    url('../fonts/navyTrivia.ttf?v60uxu') format('truetype'),
    url('../fonts/navyTrivia.woff?v60uxu') format('woff'),
    url('../fonts/navyTrivia.svg?v60uxu#navyTrivia') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="triviaIcon-"], [class*=" triviaIcon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'navyTrivia' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.triviaIcon-chevron:before {
  content: "\e904";
}
.triviaIcon-star:before {
  content: "\e900";
}
.triviaIcon-x:before {
  content: "\e901";
}
.triviaIcon-graph:before {
  content: "\e902";
}
.triviaIcon-back:before {
  content: "\e903";
}

