@charset "UTF-8";

/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
@import "elements.less";



// ====================================
// 				^Variables
// ====================================

@background: black;
@backgroundGradientStart: #2D3A4D;
@backgroundGradientEnd: #36647B;

@headerGradientStart: #1BA1C4;
@headerGradientEnd: #39A5B1;



@uiGreyLight: #EEEEEE;
@uiGreyMedium: #B7B7B7;
@uiGreyDark: #545454;
@uiGreyHeavy: #292728;

@text:white;
@neutral: @uiGreyMedium;
@highlight: #1CA0C1;
@highlightMuted: #719BB3;

@text-small: 12px;
@text-base: 16px;
@text-medium: 24px;
@text-large: 28px;
@text-huge: 36px;

@basePadding: 30px;
@lessPadding: 20px;


// ====================================
// 				^Shared
// ====================================

html, body{
	height: 100%;
}

body{
	background: linear-gradient(to bottom, @backgroundGradientStart 0%,@backgroundGradientEnd 100%);
	color: @text;
	font-size: @text-base;
}

.animated{
	animation-duration: .5s;
}


// ====================================
// 				^Buttons
// ====================================

.btn{
	padding: @basePadding/2;
	min-width: 215px;

	font-size: @text-medium;
	text-transform: uppercase;
	text-align: center;
	border:0;
	border-radius: 10px;

	&.btn-primary{
		background: linear-gradient(to right, @headerGradientStart 0%,@headerGradientEnd 100%);
		color:white;
	}
}

// ====================================
// 				^Header
// ====================================

header{
	height: 100px;
	padding: @basePadding !important;

	background: linear-gradient(to right, @headerGradientStart 0%,@headerGradientEnd 100%);

	.header-title{
		text-align:center;
		font-size: @text-large;
		text-transform:uppercase;
	}
}




// ====================================
// 				^Categories
// ====================================

.screen-categories{
	padding: 2*@basePadding;
}

.categories-list{

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	.category,.achievement{
		display:block;

		padding: @basePadding;

		&:nth-child(1){
			padding-left:0;
		}

		&:nth-child(3n){
			padding-right:0;
		}


		text-align:center;
		color: @text;
		font-size: @text-medium;

		.category-image-wrapper,.achievement-image-wrapper{
			border-radius: 50%;
			width: 176px;
			height: 176px;
			padding: @basePadding;

			background: radial-gradient(ellipse at center, @headerGradientStart 0%,@headerGradientEnd 100%);
			border:6px solid @highlightMuted;

			img{
				display:inline-block;
				width:100%;
				height:auto;
			}

		}

		
		span{
			display:block;
			margin: @basePadding/2 0;
		}

		.category-progress{
			
			background: @neutral;
			height:14px;

			.category-progress-inner{
				display:block;
				width: 40%;
				height: 14px;

				background: linear-gradient(to right, @headerGradientStart 0%,@headerGradientEnd 100%);
			}
		}


	}
}



.achievements-list{

	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;

	.category,.achievement{
		display:block;
		width: 200px;

		margin: @basePadding/2;
		padding: @basePadding;

		text-align:center;
		color: @text;

		.category-image-wrapper,.achievement-image-wrapper{
			border-radius: 50%;
			padding: @basePadding;

			background: @neutral;

			img{
				display:inline-block;
				width:100%;
				height:auto;
			}

		}

		
		span{
			display:block;
			margin: @basePadding/2 0;
		}

		.category-progress{
			
			background: @neutral;
			height:20px;

			.category-progress-inner{
				display:block;
				width: 40%;
				height: 20px;
				background-color:@highlight;
			}
		}


	}
}



// ====================================
// 				^Modals
// ====================================

//unanimate modals
.modal.nofade.fade{
	opacity:1;
}

.modal-backdrop.fade.in{
	opacity:.85;
}

.modal.nofade.fade .modal-dialog {
	-webkit-transform: translate(0);
	-moz-transform: translate(0);
	transform: translate(0);
}

#categoriesModal, #achievementsModal{
	
	.btn-close{
		position: fixed;
		top: 2*@basePadding;
		right: 2*@basePadding;
		color:@text;
		font-size: 2*@text-huge;

		&::before{
			content:'\00d7';
		}
	}

	.modal-dialog,.modal-content,.modal-body{
		background:none;
		box-shadow:none;
	}

	.modal-dialog{
		width: auto;
		margin:0;
		top:140px;
	}

	.modal-body{
		padding:0;
	}

	.modal-content{
		border:0;
	}

	.modal-categories-list, .modal-achievements-list{
		opacity:0;

		.modal-category, .modal-achievement{

			width: 470px;
			margin-right: 2*@basePadding;
			padding: 2*@lessPadding;

			background: linear-gradient(to bottom, @uiGreyLight 0%,@uiGreyMedium 100%);
			color:black;
			text-align:center;

			.category-title{
				color: @uiGreyHeavy;
				font-size: @text-huge;
				font-weight: bold;
			}

			.category-description{
				margin-bottom: @basePadding*2;

				color: @uiGreyHeavy;
				font-size: @text-base*1.25;
				font-weight: 200;
			}

			.category-image-wrapper, .achievement-image-wrapper{
				display:inline-block;
				width:176px;
				border-radius: 50%;
				padding: @basePadding;
				border: 6px solid @highlightMuted;

				background: radial-gradient(ellipse at center, @headerGradientStart 0%,@headerGradientEnd 100%);


				img{
					display:inline-block;
					width:100%;
					height:auto;
				}

			}

			
		}

	}
}

.category-data{

	.category-complete{
		position: relative;

		.category-complete-label{
			vertical-align: baseline;
			float:left;

			text-transform: uppercase;
			color: @uiGreyDark;
		}
		.category-complete-number{
			position: absolute;
			bottom: 0px;
			right: 0px;


			font-size: @text-huge;
			line-height: @text-huge;
			color: @uiGreyDark;
			font-weight: 200;
		}
	}

	.category-progress{
		margin: @basePadding/2 0;

		background: @neutral;
		height:14px;

		.category-progress-inner{
			display:block;
			width: 40%;
			height: 14px;
			background-color:@highlight;
		}
	}

	.category-stats{
		margin: @basePadding 0;

		.category-stat{
			width: 33.33333%;
			padding: 0 @lessPadding/2;
			float:left;

			
			text-align:center;

			&:nth-child(2){
				border-left: 1px solid @uiGreyDark;
				border-right: 1px solid @uiGreyDark;
			}

			h3{
				margin-top:0;

				color: @highlight;
				font-size: @text-huge;
				line-height: @text-huge;
				font-weight: 200;
			}

			h4{
				margin-bottom:0;
				
				font-size: 15px;
				color:black;
				text-transform:uppercase;
			}
		}
	}
}

// ====================================
// 				^Stats
// ====================================

.screen-stats{

	.stats-questions-completed{
			
		background: @neutral;
		height:20px;

		.stats-questions-completed-inner{
			display:block;
			width: 0%;
			height: 20px;
			background-color:@highlight;
		}
	}

	.stats-categories-list{
		.stats-category{
			img{
				max-width:100px;
			}
		}
	}
}


// ====================================
// 				^Game
// ====================================

.screen-game,.screen-end{
	
	.game-answers{
		.answer{
			background-color:gray;
			border:1px solid black;
			width: 50%;
			height: 150px;
			font-size: 20px;
			line-height:150px;
			text-align:center;
			display:block;
			float:left;
			color:black;

			&:active,&:hover{
				text-decoration: none;
			}
		}
	}

	.game-answers.clicked{
		.answer{
			&.clicked{
				background-color:red;
			}

			&.correct{
				background-color:green;
			}

			&.clicked.correct{
				background-color:green;
			}
		}
	}

	.game-timer-bar{
		height: 20px;

		.game-timer-bar-inner{
			height:20px;
			background-color:@highlight;
			width:100%;
		}
	}
}

.game-progress-dots{
	text-align:center;
	.game-progress-dot{
		width: 10px;
		height: 10px;

		display:inline-block;
		margin: @basePadding/2;
		background:white;
		opacity:.2;

		&.past{
			opacity:.6;
		}

		&.current{
			opacity: 1;
			background-color: @highlight;
		}
	}

}

// ====================================
// 				^End
// ====================================

.screen-end{
	.game-data{
		width: 460px;
		background:#404040;
		margin-right: 4*@basePadding;
	}
}


// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================

// ====================================
// 				Section
// ====================================
