@charset "UTF-8";
/* LESS MIXINS ==========================================

Examples:
```````````````````````````````````````````
.gradient(#F5F5F5, #EEE, #FFF); 			
.bw-gradient(#EEE, 230, 255); 				
.bordered(#EEE, #E5E5E5, #DDD, #E5E5E5); 	
.drop-shadow(0, 1px, 2px, 0.2); 			
.rounded(5px); 								
.border-radius(5px, 0, 0, 5px); 			
.opacity(0.8); 								
.transition-duration(0.2s); 				
.rotation(15deg); 							
.scale(2); 									
.transition(2s, ease-out); 					
.inner-shadow(0, 1px, 2px, 0.4); 			
.box-shadow(0 1px 2px #999); 				
.columns(50px, 0, 50px, #EEE, solid, 1px); 	
.translate(10px, 20px); 					
.box-sizing(content-box);
.background-size(cover) 					
.user-select(none); 	
.animation-delay(2s)

*/
/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
html,
body {
  height: 100%;
}
body {
  background: -webkit-linear-gradient(top, #2D3A4D 0%, #36647B 100%);
  background: linear-gradient(to bottom, #2D3A4D 0%, #36647B 100%);
  color: white;
  font-size: 16px;
}
.animated {
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
}
.btn {
  padding: 15px;
  min-width: 215px;
  font-size: 24px;
  text-transform: uppercase;
  text-align: center;
  border: 0;
  border-radius: 10px;
}
.btn.btn-primary {
  background: -webkit-linear-gradient(left, #1BA1C4 0%, #39A5B1 100%);
  background: linear-gradient(to right, #1BA1C4 0%, #39A5B1 100%);
  color: white;
}
header {
  height: 100px;
  padding: 30px !important;
  background: -webkit-linear-gradient(left, #1BA1C4 0%, #39A5B1 100%);
  background: linear-gradient(to right, #1BA1C4 0%, #39A5B1 100%);
}
header .header-title {
  text-align: center;
  font-size: 28px;
  text-transform: uppercase;
}
.screen-categories {
  padding: 60px;
}
.categories-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.categories-list .category,
.categories-list .achievement {
  display: block;
  padding: 30px;
  text-align: center;
  color: white;
  font-size: 24px;
}
.categories-list .category:nth-child(1),
.categories-list .achievement:nth-child(1) {
  padding-left: 0;
}
.categories-list .category:nth-child(3n),
.categories-list .achievement:nth-child(3n) {
  padding-right: 0;
}
.categories-list .category .category-image-wrapper,
.categories-list .achievement .category-image-wrapper,
.categories-list .category .achievement-image-wrapper,
.categories-list .achievement .achievement-image-wrapper {
  border-radius: 50%;
  width: 176px;
  height: 176px;
  padding: 30px;
  background: -webkit-radial-gradient(center ellipse, #1BA1C4 0%, #39A5B1 100%);
  background: radial-gradient(ellipse at center, #1BA1C4 0%, #39A5B1 100%);
  border: 6px solid #719BB3;
}
.categories-list .category .category-image-wrapper img,
.categories-list .achievement .category-image-wrapper img,
.categories-list .category .achievement-image-wrapper img,
.categories-list .achievement .achievement-image-wrapper img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.categories-list .category span,
.categories-list .achievement span {
  display: block;
  margin: 15px 0;
}
.categories-list .category .category-progress,
.categories-list .achievement .category-progress {
  background: #B7B7B7;
  height: 14px;
}
.categories-list .category .category-progress .category-progress-inner,
.categories-list .achievement .category-progress .category-progress-inner {
  display: block;
  width: 40%;
  height: 14px;
  background: -webkit-linear-gradient(left, #1BA1C4 0%, #39A5B1 100%);
  background: linear-gradient(to right, #1BA1C4 0%, #39A5B1 100%);
}
.achievements-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.achievements-list .category,
.achievements-list .achievement {
  display: block;
  width: 200px;
  margin: 15px;
  padding: 30px;
  text-align: center;
  color: white;
}
.achievements-list .category .category-image-wrapper,
.achievements-list .achievement .category-image-wrapper,
.achievements-list .category .achievement-image-wrapper,
.achievements-list .achievement .achievement-image-wrapper {
  border-radius: 50%;
  padding: 30px;
  background: #B7B7B7;
}
.achievements-list .category .category-image-wrapper img,
.achievements-list .achievement .category-image-wrapper img,
.achievements-list .category .achievement-image-wrapper img,
.achievements-list .achievement .achievement-image-wrapper img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.achievements-list .category span,
.achievements-list .achievement span {
  display: block;
  margin: 15px 0;
}
.achievements-list .category .category-progress,
.achievements-list .achievement .category-progress {
  background: #B7B7B7;
  height: 20px;
}
.achievements-list .category .category-progress .category-progress-inner,
.achievements-list .achievement .category-progress .category-progress-inner {
  display: block;
  width: 40%;
  height: 20px;
  background-color: #1CA0C1;
}
.modal.nofade.fade {
  opacity: 1;
}
.modal-backdrop.fade.in {
  opacity: .85;
}
.modal.nofade.fade .modal-dialog {
  -webkit-transform: translate(0);
  transform: translate(0);
}
#categoriesModal .btn-close,
#achievementsModal .btn-close {
  position: fixed;
  top: 60px;
  right: 60px;
  color: white;
  font-size: 72px;
}
#categoriesModal .btn-close::before,
#achievementsModal .btn-close::before {
  content: '\00d7';
}
#categoriesModal .modal-dialog,
#achievementsModal .modal-dialog,
#categoriesModal .modal-content,
#achievementsModal .modal-content,
#categoriesModal .modal-body,
#achievementsModal .modal-body {
  background: none;
  box-shadow: none;
}
#categoriesModal .modal-dialog,
#achievementsModal .modal-dialog {
  width: auto;
  margin: 0;
  top: 140px;
}
#categoriesModal .modal-body,
#achievementsModal .modal-body {
  padding: 0;
}
#categoriesModal .modal-content,
#achievementsModal .modal-content {
  border: 0;
}
#categoriesModal .modal-categories-list,
#achievementsModal .modal-categories-list,
#categoriesModal .modal-achievements-list,
#achievementsModal .modal-achievements-list {
  opacity: 0;
}
#categoriesModal .modal-categories-list .modal-category,
#achievementsModal .modal-categories-list .modal-category,
#categoriesModal .modal-achievements-list .modal-category,
#achievementsModal .modal-achievements-list .modal-category,
#categoriesModal .modal-categories-list .modal-achievement,
#achievementsModal .modal-categories-list .modal-achievement,
#categoriesModal .modal-achievements-list .modal-achievement,
#achievementsModal .modal-achievements-list .modal-achievement {
  width: 470px;
  margin-right: 60px;
  padding: 40px;
  background: -webkit-linear-gradient(top, #EEEEEE 0%, #B7B7B7 100%);
  background: linear-gradient(to bottom, #EEEEEE 0%, #B7B7B7 100%);
  color: black;
  text-align: center;
}
#categoriesModal .modal-categories-list .modal-category .category-title,
#achievementsModal .modal-categories-list .modal-category .category-title,
#categoriesModal .modal-achievements-list .modal-category .category-title,
#achievementsModal .modal-achievements-list .modal-category .category-title,
#categoriesModal .modal-categories-list .modal-achievement .category-title,
#achievementsModal .modal-categories-list .modal-achievement .category-title,
#categoriesModal .modal-achievements-list .modal-achievement .category-title,
#achievementsModal .modal-achievements-list .modal-achievement .category-title {
  color: #292728;
  font-size: 36px;
  font-weight: bold;
}
#categoriesModal .modal-categories-list .modal-category .category-description,
#achievementsModal .modal-categories-list .modal-category .category-description,
#categoriesModal .modal-achievements-list .modal-category .category-description,
#achievementsModal .modal-achievements-list .modal-category .category-description,
#categoriesModal .modal-categories-list .modal-achievement .category-description,
#achievementsModal .modal-categories-list .modal-achievement .category-description,
#categoriesModal .modal-achievements-list .modal-achievement .category-description,
#achievementsModal .modal-achievements-list .modal-achievement .category-description {
  margin-bottom: 60px;
  color: #292728;
  font-size: 20px;
  font-weight: 200;
}
#categoriesModal .modal-categories-list .modal-category .category-image-wrapper,
#achievementsModal .modal-categories-list .modal-category .category-image-wrapper,
#categoriesModal .modal-achievements-list .modal-category .category-image-wrapper,
#achievementsModal .modal-achievements-list .modal-category .category-image-wrapper,
#categoriesModal .modal-categories-list .modal-achievement .category-image-wrapper,
#achievementsModal .modal-categories-list .modal-achievement .category-image-wrapper,
#categoriesModal .modal-achievements-list .modal-achievement .category-image-wrapper,
#achievementsModal .modal-achievements-list .modal-achievement .category-image-wrapper,
#categoriesModal .modal-categories-list .modal-category .achievement-image-wrapper,
#achievementsModal .modal-categories-list .modal-category .achievement-image-wrapper,
#categoriesModal .modal-achievements-list .modal-category .achievement-image-wrapper,
#achievementsModal .modal-achievements-list .modal-category .achievement-image-wrapper,
#categoriesModal .modal-categories-list .modal-achievement .achievement-image-wrapper,
#achievementsModal .modal-categories-list .modal-achievement .achievement-image-wrapper,
#categoriesModal .modal-achievements-list .modal-achievement .achievement-image-wrapper,
#achievementsModal .modal-achievements-list .modal-achievement .achievement-image-wrapper {
  display: inline-block;
  width: 176px;
  border-radius: 50%;
  padding: 30px;
  border: 6px solid #719BB3;
  background: -webkit-radial-gradient(center ellipse, #1BA1C4 0%, #39A5B1 100%);
  background: radial-gradient(ellipse at center, #1BA1C4 0%, #39A5B1 100%);
}
#categoriesModal .modal-categories-list .modal-category .category-image-wrapper img,
#achievementsModal .modal-categories-list .modal-category .category-image-wrapper img,
#categoriesModal .modal-achievements-list .modal-category .category-image-wrapper img,
#achievementsModal .modal-achievements-list .modal-category .category-image-wrapper img,
#categoriesModal .modal-categories-list .modal-achievement .category-image-wrapper img,
#achievementsModal .modal-categories-list .modal-achievement .category-image-wrapper img,
#categoriesModal .modal-achievements-list .modal-achievement .category-image-wrapper img,
#achievementsModal .modal-achievements-list .modal-achievement .category-image-wrapper img,
#categoriesModal .modal-categories-list .modal-category .achievement-image-wrapper img,
#achievementsModal .modal-categories-list .modal-category .achievement-image-wrapper img,
#categoriesModal .modal-achievements-list .modal-category .achievement-image-wrapper img,
#achievementsModal .modal-achievements-list .modal-category .achievement-image-wrapper img,
#categoriesModal .modal-categories-list .modal-achievement .achievement-image-wrapper img,
#achievementsModal .modal-categories-list .modal-achievement .achievement-image-wrapper img,
#categoriesModal .modal-achievements-list .modal-achievement .achievement-image-wrapper img,
#achievementsModal .modal-achievements-list .modal-achievement .achievement-image-wrapper img {
  display: inline-block;
  width: 100%;
  height: auto;
}
.category-data .category-complete {
  position: relative;
}
.category-data .category-complete .category-complete-label {
  vertical-align: baseline;
  float: left;
  text-transform: uppercase;
  color: #545454;
}
.category-data .category-complete .category-complete-number {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 36px;
  line-height: 36px;
  color: #545454;
  font-weight: 200;
}
.category-data .category-progress {
  margin: 15px 0;
  background: #B7B7B7;
  height: 14px;
}
.category-data .category-progress .category-progress-inner {
  display: block;
  width: 40%;
  height: 14px;
  background-color: #1CA0C1;
}
.category-data .category-stats {
  margin: 30px 0;
}
.category-data .category-stats .category-stat {
  width: 33.33333%;
  padding: 0 10px;
  float: left;
  text-align: center;
}
.category-data .category-stats .category-stat:nth-child(2) {
  border-left: 1px solid #545454;
  border-right: 1px solid #545454;
}
.category-data .category-stats .category-stat h3 {
  margin-top: 0;
  color: #1CA0C1;
  font-size: 36px;
  line-height: 36px;
  font-weight: 200;
}
.category-data .category-stats .category-stat h4 {
  margin-bottom: 0;
  font-size: 15px;
  color: black;
  text-transform: uppercase;
}
.screen-stats .stats-questions-completed {
  background: #B7B7B7;
  height: 20px;
}
.screen-stats .stats-questions-completed .stats-questions-completed-inner {
  display: block;
  width: 0%;
  height: 20px;
  background-color: #1CA0C1;
}
.screen-stats .stats-categories-list .stats-category img {
  max-width: 100px;
}
.screen-game .game-answers .answer,
.screen-end .game-answers .answer {
  background-color: gray;
  border: 1px solid black;
  width: 50%;
  height: 150px;
  font-size: 20px;
  line-height: 150px;
  text-align: center;
  display: block;
  float: left;
  color: black;
}
.screen-game .game-answers .answer:active,
.screen-end .game-answers .answer:active,
.screen-game .game-answers .answer:hover,
.screen-end .game-answers .answer:hover {
  text-decoration: none;
}
.screen-game .game-answers.clicked .answer.clicked,
.screen-end .game-answers.clicked .answer.clicked {
  background-color: red;
}
.screen-game .game-answers.clicked .answer.correct,
.screen-end .game-answers.clicked .answer.correct {
  background-color: green;
}
.screen-game .game-answers.clicked .answer.clicked.correct,
.screen-end .game-answers.clicked .answer.clicked.correct {
  background-color: green;
}
.screen-game .game-timer-bar,
.screen-end .game-timer-bar {
  height: 20px;
}
.screen-game .game-timer-bar .game-timer-bar-inner,
.screen-end .game-timer-bar .game-timer-bar-inner {
  height: 20px;
  background-color: #1CA0C1;
  width: 100%;
}
.game-progress-dots {
  text-align: center;
}
.game-progress-dots .game-progress-dot {
  width: 10px;
  height: 10px;
  display: inline-block;
  margin: 15px;
  background: white;
  opacity: .2;
}
.game-progress-dots .game-progress-dot.past {
  opacity: .6;
}
.game-progress-dots .game-progress-dot.current {
  opacity: 1;
  background-color: #1CA0C1;
}
.screen-end .game-data {
  width: 460px;
  background: #404040;
  margin-right: 120px;
}
